<div class="fondo col-lg-12">
</div>
<div>
<div class="col-md-12 contenido">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-12">
      <section>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <p>
              <img class="img-fluid" src="../../../assets/img/logo/bi2.png" alt="">
            </p>
            <button [routerLink]="['/login']"  mat-flat-button color="primary">Ingresar</button>
          </div>
          <div class="col-md-6 col-sm-12">
            <h1>Bienvenido a SICI</h1>
            <p>
                SICI que se define como un Sistema Integrado de Confiabilidad Industrial,basado en una plataforma totalmente cloud de alta disponibilidad y rendimiento. SICI se encarga de administrar y controlar ordenes de servicio, analizar y procesar la informacion, informar a los distintos departamentos de la empresa y generar informacion de primera mano en tiempo real.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
