<div class="col-sm-12 fondo">
  </div>
  <div class="container espacios">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="card-tittle cabecera">
              <h5 style="text-align:center">Gestion de la Orden</h5>
            </div>
            <div class="datos espacios">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                          <div class=" col-md-12 datos centrado col-sm-12">
                              <h6 style="text-align:center">Datos de la Orden</h6>
                              <p>No ({{noOrden}})</p>
                            </div>
                            <div class="col-md-2 centrado col-sm-12">
                              <label for="">Tag</label>&nbsp; <i class="far fa-eye cursor"    title="Ver Equipo"></i>
                              <input disabled type="text" class="form-control" name="tag" [(ngModel)]="tag" >
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <label >Solicitante</label>
                              <input disabled type="text" class="form-control" name="solicitanteO" [(ngModel)]="solicitante" >
                            </div>
                            <div class="col-md-4 col-sm-12">
                              <label >Prioridad</label>
                              <input disabled type="text" class="form-control" name="solicitanteO" [(ngModel)]="prioridad" >
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="fechaEjecucion">Fecha Ejecucion</label>
                            <input *ngIf="estado != 'EJECUTADA' " class="form-control" type="date" name="fechaEjeO" [(ngModel)]="fechaEjecucion" >
                            <input *ngIf="estado == 'EJECUTADA'" disabled class="form-control" type="date" name="fechaEjeO" [(ngModel)]="fechaEjecucion" >
                        </div>
                        <div class="col-md-3">
                          <div class="form-group ">
                            <label for="prioridad">Turno</label>
                            <select *ngIf="estado != 'EJECUTADA' " class="form-control" name="turnoO" [(ngModel)]="turno"  >
                                <option selected>Elija</option>
                                <option value="TURNO 1">TURNO 1</option>
                                <option value="TURNO 2">TURNO 2</option>
                                <option value="TURNO 3">TURNO 3</option>
                            </select>
                            <select *ngIf="estado == 'EJECUTADA'" disabled  class="form-control" name="turnoO" [(ngModel)]="turno"  >
                                <option selected>Elija</option>
                                <option value="TURNO 1">TURNO 1</option>
                                <option value="TURNO 2">TURNO 2</option>
                                <option value="TURNO 3">TURNO 3</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">  
                            <div class="form-group ">
                              <label for="descripcion">Manual de la Actividad</label>
                              <input *ngIf="estado != 'EJECUTADA' "  type="text" class="form-control" name="descripcionO" [(ngModel)]="descripcionActividad"  >
                              <input *ngIf="estado == 'EJECUTADA'" disabled type="text" class="form-control" name="descripcionO" [(ngModel)]="descripcionActividad"  >
                            </div>
                          </div> 
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">  
                            <div class="form-group ">
                              <label for="descripcion">Historico de comentarios</label>
                              <textarea rows="3" *ngIf="estado != 'EJECUTADA' "  type="text" class="form-control" name="historicoO" [(ngModel)]="historico"  ></textarea>
                              <textarea rows="3" *ngIf="estado == 'EJECUTADA'" disabled class="form-control" name="historicoO" [(ngModel)]="historico"  ></textarea>
                            </div>
                          </div> 
                        </div>
                        <div class="col-md-2 offset-md-5">
                            <div class="form-group ">
                              <label for="prioridad">Estado</label>
                              <select id="estadox" class="form-control" [(ngModel)]="estado">
                                  <option disabled selected>Elija</option>
                                  <option value="EJECUCION">EJECUCION</option>
                                  <option value="EJECUTADA">EJECUTADA</option>
                                  <option value="DETENIDA">DETENIDA</option>
                                  <option value="DESCARTADA">ELIMINADA</option>
                              </select>
                            </div>
                        </div>
                        <div *ngIf="estado =='DETENIDA'" class="col-md-12 restriccion">
                            <div class="form-group">
                                <label>Motivo de la Restriccion</label>
                                <textarea class="form-control" rows="3" [(ngModel)]="restriccion"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12" style="text-align:center">
                            <button  type="button" (click)="gestionarOrden()"  class="margenbutton btn btn-outline-success"><i class="far fa-save"></i> &nbsp; Guardar</button>
                            <!--<button *ngIf="estado == 'EJECUTADA'" disabled type="button" (click)="gestionarOrden()"  class="margenbutton btn btn-outline-success"><i class="far fa-save"></i> &nbsp; Guardar</button>-->
                        </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 espacios">
          <div class="col-md-6 offset-md-3">
            <div class="card">
              <div class="card-body">
                  <form ngNativeValidate [formGroup]="form"  #recursosR="ngForm" (ngSubmit)="agregarRecursos(form, recursosR)">
                    <div class="row">
                      <div class="col-md-3">
                          <div class="form-group" style="text-align:center">
                              <label for="hhR">H:H</label>
                              <input *ngIf="estado != 'EJECUTADA' "  min=1 type="number" class="form-control" formControlName="hhO"  >
                              <input *ngIf="estado == 'EJECUTADA'" disabled  min=1 type="number" class="form-control" formControlName="hhO"  >
                            </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group" style="text-align:center">
                              <label for="Cargo">Cargo</label>
                              <select *ngIf="estado != 'EJECUTADA' "  class="form-control" name="cargo"  (change)="tomarValorHora($event.target.value)">
                                  <option selected>Elija</option>
                                  <option *ngFor="let cargo of cargos" [value]="cargo._id">{{cargo.nombre}}</option>
                              </select>
                              <select *ngIf="estado == 'EJECUTADA'" disabled  class="form-control" name="cargo"  (change)="tomarValorHora($event.target.value)">
                                  <option selected>Elija</option>
                                  <option *ngFor="let cargo of cargos" [value]="cargo._id">{{cargo.nombre}}</option>
                              </select>
                            </div>
                      </div>
                      <div class="col-md-3 col-sm-12 " style="text-align:center !important">
                          <label style="visibility: hidden">boton</label><br>
                          <button *ngIf="estado != 'EJECUTADA' " type="submit" style="text-align:center !important" class="btn btn-outline-warning"><i class="fas fa-plus"></i></button>
                          <button *ngIf="estado == 'EJECUTADA'" disabled type="submit" style="text-align:center !important" class="btn btn-outline-warning"><i class="fas fa-plus"></i></button>
                      </div>
                    </div>
                  </form>

                  <div class="">
                    <table class="table table-responsive table-bordered">
                      <thead class="table-info">
                        <tr>
                          <th>Horas Hombre </th>
                          <th>Nombre Cargo</th>
                          <th>Gestion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let recurso of recursos; let i = index">
                          <td>{{recurso.hh}}</td>
                          <td>{{recurso.cargo.nombre}}</td>
                          <td class="centrado">
                           <a class="eliminar">
                              <i *ngIf="estado != 'EJECUTADA' "  (click)="eliminarRecurso(i)" class="far fa-trash-alt eliminar"></i>
                              <i *ngIf="estado == 'EJECUTADA'"  disabled class="far fa-trash-alt eliminar"></i>
                           </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-12" style="text-align:center">
                    <button type="button" [routerLink]="['/ordenesC/1']" class="margenbutton btn btn-outline-warning"><i class="fas fa-arrow-circle-left"></i>Atras</button>
                  </div>
              </div>

            </div>
          </div>

      </div>
    </div>
  </div>