/*fondo del componente principal*/
.fondo{
    background-image: url(../../../../assets/img/logo/bgctransparente.png);
    background-size: cover;
    
}
.espaciosp{
    padding: 1vh;
}
.centrado{
    text-align: center;
}
.margin-card{
    margin:2vh !important;
}
.noexiste{
    background: #ffbb33 !important;
    color: white !important;
    font-weight: bold;
}
.minAltura{
    min-height: 90.50vh !important;
}