.contenedor{
    background-image: url(../../../assets/img/logo/bgctransparente.png);
    background-size: cover;
    padding: 2vh;
    
}
.espacios{
    padding: 2vh;
}
button{
    margin: 3vh;
}
.espacios div{
    padding-top: 1vh;
}
.pointer{
    cursor: pointer;
}
.centroiconos {
    text-align: center !important;
}
.centroiconos i{
    color:#ff4444;
}
label{
    font-weight: bold;
}