<div class="contenedor">
  <div class="container">
    <div class="row espacios">
        <div class="col-sm-12" style="text-align:center">
            <h1>Menu de opciones</h1>
        </div>
        <div  class="col-lg-6 col-md-6 col-sx-12" >
          <button type="button" [routerLink]="['/config']" class="btn btn-warning text-white  tamanoBotones btn-block efectoBotones1 efectoBotones2">
            <i class="fas fa-user-shield fa-4x fa-lg"></i>
            <br><br> Configuracion
          </button>
        </div>
  
        <div  class="col-lg-6 col-md-6 col-sx-12">
          <button type="button" [routerLink]="['/graficoClienteLinea/1']"  class="btn btn-success  tamanoBotones btn-block efectoBotones1 efectoBotones2">
            <i class="fas fa-chart-pie fa-4x fa-lg"></i>&nbsp;<i class="fas fa-chart-line fa-4x fa-lg"></i>
            <br><br> Avance
          </button>
        </div>
  
        <div class="col-lg-6 col-md-6 col-sx-12 ">
          <button type="button" [routerLink]="['/ordenesC/1']" class="btn btn-info  tamanoBotones btn-block efectoBotones1 efectoBotones2">
            <i class="fas fa-list-alt fa-4x fa-lg"></i>
            <br><br> Ordenes
          </button>
        </div>
        <div  class="col-lg-6 col-md-6 col-sx-12" >
          <button type="button" [routerLink]="['/import-export']" class="btn btn-dark text-white  tamanoBotones btn-block efectoBotones1 efectoBotones2">
            <i class="fas fa-user-shield fa-4x fa-lg"></i>
            <br><br> Importaciones Masivas
          </button>
        </div>
        <div  class="col-lg-6 col-md-6 col-sx-12">
          <button  type="button"  [routerLink]="['/configsu']"  class="btn btn-danger  tamanoBotones btn-block efectoBotones1 efectoBotones2">
            <i class="fas fa-cog fa-4x fa-lg"></i>
            <br><br> Super Configuracion 
          </button>
        </div>
        <div  class="col-lg-6 col-md-6 col-sx-12">
            <button  type="button"  [routerLink]="['/busquedas/1']"  class="btn btn-primary  tamanoBotones btn-block efectoBotones1 efectoBotones2">
              <i class="fas fa-search fa-4x fa-lg"></i>
              <br><br> Busquedas 
            </button>
          </div>
    </div> 
  </div>
</div>

