.contenedor{
    background-image: url(../../../../assets/img/logo/bgctransparente.png);
    background-size: cover;
    padding: 2vh;
    
}
.centrado{
    text-align: center !important;
}
.sinnada{
    padding: 0px !important;
    margin: 0px !important;
}
.sinnadaabajo{
    padding-bottom: 0px;
}
.redondo{
    border-radius: 100px !important;
    
}
.largo{
    width: 100%;
}
.espacio{
    padding: 2vh;
}
.cursor{
    cursor: pointer;
}

/*Ordenamiento de la tabla*/
.relojContainer{
    border : 2px solid #ff4444;
    background-color: black;
    color: #00C851;
    font-size: 1.5rem;
}
.reloj{
    background-color: black;
    color: #00C851;
    font-size: 2.5rem;
    font-family: 'Orbitron', sans-serif;
}
