<div class="contenedor">
  <div class="container">
    <div class="row margenInferior">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body centrado">
            <div class="row">
              <div class="col-md-4">
                  <button type="button" class="btn btn-outline-primary">Instrumentacion</button>
              </div>
              <div class="col-md-4">
                  <button type="button" class="btn btn-outline-secondary">Convencionales</button>
              </div>
              <div class="col-md-4">
                  <button type="button" class="btn btn-outline-success">Otros</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row margenInferior" >
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 ">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 centrado margindivBoton ">
                         <div class="row">
                           <div class="col-md-4">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/transmisor-nivel.jpg" alt="">
                           </div>
                           <div class="col-md-4">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/transmisor-presion.jpg" alt="">
                           </div>
                           <div class="col-md-4">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/transmisor de temperatura.jpg" alt="">
                           </div>
                         </div>
                      </div>
                      <div class="col-md-12 centrado paddingbuttonBotton">
                          <button type="button" (click)="subirExcel('Transmisores')" class="btn btn-outline-warning">Transmisores</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 centrado margindivBoton ">
                         <div class="row">
                           <div class="col-md-4">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/manometro.jpg" alt="">
                           </div>
                           <div class="col-md-4">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/indicadores.png" alt="">
                           </div>
                           <div class="col-md-4">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/indicador temperatura.png" alt="">
                           </div>
                         </div>
                      </div>
                      <div class="col-md-12 centrado paddingbuttonBotton">
                          <button type="button" (click)="subirExcel('Indicadores')" class="btn btn-outline-warning">Indicadores</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 centrado margindivBoton ">
                           <div class="row">
                             <div class="col-md-4">
                                <img class="logo imagenes img-responsive" src="assets/img/logo/valvula-control.jpg" alt="">
                             </div>
                             <div class="col-md-3">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/valvula-seguridad.jpg" alt="">
                             </div>
                             <div class="col-md-4">
                                <img class="logo imagenes img-responsive" src="assets/img/logo/valvulas.png" alt="">
                             </div>
                           </div>
                        </div>
                        <div class="col-md-12 centrado paddingbuttonBotton">
                            <button type="button" (click)="subirExcel('Valvulas')" class="btn btn-outline-warning">Valvulas</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row margenInferior">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 ">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 centrado margindivBoton ">
                         <div class="row">
                           <div class="col-md-4">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/temperature- switch.jpg"alt="">
                           </div>
                           <div class="col-md-4">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/sw presion.jpg" alt="">
                           </div>
                           <div class="col-md-4">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/sw-nivel.jpg" alt="">
                           </div>
                         </div>
                      </div>
                      <div class="col-md-12 centrado paddingbuttonBotton">
                          <button type="button" (click)="subirExcel('Switches')" class="btn btn-outline-warning">Switches</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 centrado margindivBoton ">
                         <div class="row">
                           <div class="col-md-4">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/manometro.jpgn" alt="">
                           </div>
                           <div class="col-md-4">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/indicadores.pngn" alt="">
                           </div>
                           <div class="col-md-4">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/indicador temperatura.pngn" alt="">
                           </div>
                         </div>
                      </div>
                      <div class="col-md-12 centrado paddingbuttonBotton">
                          <button type="button" (click)="subirExcel('Indicadores')" class="btn btn-outline-warning">Indicadores</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 centrado margindivBoton ">
                           <div class="row">
                             <div class="col-md-4">
                                <img class="logo imagenes img-responsive" src="assets/img/logo/valvula-control.jp" alt="">
                             </div>
                             <div class="col-md-3">
                              <img class="logo imagenes img-responsive" src="assets/img/logo/valvula-seguridad.jp" alt="">
                             </div>
                             <div class="col-md-4">
                                <img class="logo imagenes img-responsive" src="assets/img/logo/valvulas.pn" alt="">
                             </div>
                           </div>
                        </div>
                        <div class="col-md-12 centrado paddingbuttonBotton">
                            <button type="button" (click)="subirExcel('Valvulas')" class="btn btn-outline-warning">Valvulas</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>