.contenedor{
    background-image: url(../../../../assets/img/logo/bgctransparente.png);
    background-size: cover;
    padding: 2vh;
    min-height: 90vh;
}
.espacios{
    padding: 2vh;
}
button{
    margin: 3vh;
}
.espacios div{
    padding-top: 3vh;
}
.pointer{
    cursor: pointer;
}
.centroiconos {
    text-align: center !important;
}
.centroiconos i{
    color:#ffc107
}
.sinmargenbutton{
    margin-bottom: 0px !important;
}
.sinpaddintop{
    padding-top: 0px !important;
}
.sinpadding{
    padding: 0px !important;
}
.elija{
    font-family: 'Germania One', cursive;
}