<div class="col-sm-12 fondo">
</div>
<div class="container">
  <div class="row espacios">
    <div class="col-md-4">
        <div class="card">
          <div class="card-body centroiconos">
              <h5 style="text-align:center">Creacion de Equipos</h5>
              <i class="fas fa-toolbox fa-2x fa-lg"></i>
              <br>
            <div class="card">
              <div class="card-body">
                  <form ngNativeValidate [formGroup]="form"  #EquipoFormE="ngForm" (ngSubmit)="createEquipoCliente(form, EquipoFormE)">
                      <div class="col-md-12 col-sm-12">
                          <div class="form-group sinmargenbutton">
                            <label for="serialE" class="negrita">Serial</label>
                            <input type="text"  formControlName="serialE" class="form-control" required>
                          </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                          <div class="form-group sinmargenbutton sinpaddintop">
                            <label for="tagE" class="negrita">Tag</label>
                            <input type="text"  formControlName="tagE" class="form-control" required>
                          </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <div class="form-group sinpaddintop">
                          <label for="nombreE" class="negrita">Descripcion del Equipo</label>
                          <input type="text"  formControlName="nombreE"  class="form-control"  required>
                        </div>
                        <div class="form-group sinpaddintop">
                          <label for="fichaT" class="negrita">Caracteristicas del Equipo</label>
                          <textarea name="fichaT" formControlName="fichaT" id="" cols="30" rows="4"></textarea>
                        </div>
                      </div>  
                    <div style="text-align:center">
                      <input type="submit" class="btn btn-outline-success" value="Agregar">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 style="text-align:center">Buscar Equipos</h5>
            <br>
            <div class="card">
              <div class="card-body">
                <label for="">Buscar</label>
                <input #input (keyup)="buscarEquipos(input.value)" type="text" class="form-control" name="" id="">
                <div class="row">
                  <div class="col-md-12">
                      <table class="table table-hover table-bordered table-responsive">
                          <thead class="table-warning">
                            <tr>
                              <th>#</th>
                              <th>Serie</th>
                              <th>Tag</th>
                              <th>descripcion del Equipo</th>
                              <th>Estado</th>
                              <th>Editar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let equipo of equipos; let i = index">
                              <td>{{i}}</td>
                              <td>{{equipo.serial}}</td>
                              <td>{{equipo.tag}}</td>
                              <td>{{equipo.nombre_equipo}}</td>
                              <td>{{equipo.estado}}</td>
                              <td style="text-align:center">
                                <i class="fas fa-edit pointer" [routerLink]="['/equiposClienteEdit', equipo._id]"></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      <!--PAGINACION -->
                        <div class="antsig" style="text-align:center">
                            <button type="button" *ngIf="page >= 2" [routerLink]="['/equipoCliente', pre_page]" class="btn btn-outline-info">Anterior</button>
                            <button type="button" *ngIf="pages != page" [routerLink]="['/equipoCliente', next_page]" class="btn btn-outline-info ">Siguiente</button>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  


 
</div>