<div class="contenedor">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-tittle" style="text-align:center">
            <h3>Busqueda de Equipos</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="row">
                  <div class="col-md-6" style="text-align:center">
                      <button type="button" (click)="activarSimple()" class="btn btn-outline-success">Busqueda Simple</button>
                  </div>
                  <div class="col-md-6" style="text-align:center">
                      <button type="button" (click)="activarAvanzada()"  class="btn btn-outline-warning">Busqueda Avanzada</button>
                  </div>
                </div>
              </div>
            </div>
            <br>   
          <div *ngIf="simple =='activada'" class="row">
              <div class="col-md-6" style="text-align:center">
                <div class="card">
                  <div class="card-body">
                      <h4>Serial</h4>
                      <input type="text" class="form-control" #input (keyup)="buscarEquipos(input.value)">
                  </div>
                </div>
                <br><br>
              </div>
              <div class="col-md-6" style="text-align:center">
                <div class="card">
                  <div class="card-body">
                      <h4>Tag</h4>
                      <input type="text" class="form-control" #input2 (keyup)="buscarEquiposporTag(input2.value)">
                  </div>
                </div>
                <br><br>
            </div>
            <div class="col-md-12" style="text-align:center">
              <div class="card">
                <div class="card-body">
                    <br>
                    <h5>Resultados</h5>
                    <br>
                    <table class="table table-responsive">
                      <thead>
                        <tr>
                          <th class="centrado">Tipo</th>
                          <th class="centrado">Subtipo</th>
                          <th class="centrado">Funcion</th>
                          <th class="centrado">IndicadorTag</th>
                          <th class="centrado">Marca</th>
                          <th class="centrado">Descripcion</th>
                          <th class="centrado">Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let equipo of equipos">
                          <td><span>{{equipo.tipo}}</span></td>
                          <td><span>{{equipo.subtipo}}</span></td>
                          <td><span>{{equipo.subtipoFuncionEquipo}}</span></td>
                          <td><span>{{equipo.tag}}</span></td>
                          <td><span>{{equipo.marca}}</span></td>
                          <td style="text-align:justify">
                            <!--TRANSMISORES-->
                            <p *ngIf="equipo.tipo == 'INSTRUMENTACION' && equipo.subtipo =='TRANSMISORES' && equipo.subtipoFuncionEquipo == 'PRESION'">
                              (<strong>Modelo:</strong> {{equipo.modelo}}) (<strong>Serial:</strong> {{equipo.serial}} )
                              (<strong>Exactitud:</strong> {{equipo.exactitud}}) (<strong>Al/Electrica:</strong> {{equipo.alimentacion_electrica}} )
                              (<strong>P/Medicion:</strong> {{equipo.elemento_medicion}}) (<strong>Rango min:</strong>  {{equipo.rango_min}}) 
                              (<strong>Rango max:</strong >{{equipo.rango_max}}) (<strong>Comunicacion</strong >{{equipo.comunicacion}})  
                              (<strong>M/cuerpo</strong >{{equipo.material_cuerpo}})  (<strong>F/manifold</strong >{{equipo.fabricante_manifold}}) 
                            </p>
                            <p *ngIf="equipo.tipo == 'INSTRUMENTACION' && equipo.subtipo =='TRANSMISORES' &&  equipo.subtipoFuncionEquipo == 'TEMPERATURA'">
                              (<strong>Modelo:</strong> {{equipo.modelo}}) (<strong>Serial:</strong> {{equipo.serial}} )
                              (<strong>Exactitud:</strong> {{equipo.exactitud}}) (<strong>Al/Electrica:</strong> {{equipo.alimentacion_electrica}} )
                              (<strong>El/medicion:</strong> {{equipo.elemento_medicion}}) (<strong>Tipo/Element:</strong> {{equipo.tipo_elemento}}) 
                              (<strong>Rango min:</strong>  {{equipo.rango_min}}) (<strong>Rango max:</strong >{{equipo.rango_max}})  
                              (<strong>M/cuerpo:</strong> {{equipo.material_cuerpo}})  
                            </p>
                            <p *ngIf="equipo.tipo == 'INSTRUMENTACION' && equipo.subtipo =='TRANSMISORES' && equipo.subtipoFuncionEquipo == 'FLUJO'">
                              (<strong>Modelo:</strong> {{equipo.modelo}}) (<strong>Serial:</strong> {{equipo.serial}} )
                              (<strong>Exactitud:</strong> {{equipo.exactitud}}) (<strong>Al/Electrica:</strong> {{equipo.alimentacion_electrica}} )
                              (<strong>El/medicion:</strong> {{equipo.elemento_medicion}}) (<strong>Tipo/Element:</strong> {{equipo.tipo_elemento}})  
                              (<strong>Rango min:</strong>  {{equipo.rango_min}})(<strong>Rango max:</strong >{{equipo.rango_max}})   
                              (<strong>M/diafragma:</strong>  {{equipo.material_diafragma}}) (<strong>M/cuerpo</strong >{{equipo.material_cuerpo}})
                              (<strong>Manifold</strong >{{equipo.tipo_manifold}})  (<strong>F/manifold</strong >{{equipo.fabricante_manifold}}) 
                            </p>
                            <p *ngIf="equipo.tipo == 'INSTRUMENTACION' && equipo.subtipo =='TRANSMISORES' && equipo.subtipoFuncionEquipo == 'NIVEL'">
                              (<strong>Modelo:</strong> {{equipo.modelo}}) (<strong>Serial:</strong> {{equipo.serial}} )
                              (<strong>Exactitud:</strong> {{equipo.exactitud}}) (<strong>Al/Electrica:</strong> {{equipo.alimentacion_electrica}} )
                              (<strong>El/medicion:</strong> {{equipo.elemento_medicion}}) (<strong>Tipo/Element:</strong> {{equipo.tipo_elemento}})  
                              (<strong>Rango min:</strong>  {{equipo.rango_min}})(<strong>Rango max:</strong >{{equipo.rango_max}})   
                              (<strong>M/diafragma:</strong>  {{equipo.material_diafragma}}) (<strong>M/cuerpo</strong >{{equipo.material_cuerpo}})
                              (<strong>Manifold</strong >{{equipo.tipo_manifold}})  (<strong>F/manifold</strong >{{equipo.fabricante_manifold}}) 
                            </p>
                            <p *ngIf="equipo.tipo == 'INSTRUMENTACION' && equipo.subtipo =='TRANSMISORES' && equipo.subtipoFuncionEquipo == 'PRESION DIFERENCIAL'">
                              (<strong>Modelo:</strong> {{equipo.modelo}}) (<strong>Serial:</strong> {{equipo.serial}} )
                              (<strong>Exactitud:</strong> {{equipo.exactitud}}) (<strong>Al/Electrica:</strong> {{equipo.alimentacion_electrica}} )
                              (<strong>Uni Rango::</strong> {{equipo.unidades_rango}}) (<strong>Tipo/Element:</strong> {{equipo.tipo_elemento}})  
                              (<strong>Rango min:</strong>  {{equipo.rango_min}})(<strong>Rango max:</strong >{{equipo.rango_max}})   
                              (<strong>M/diafragma:</strong>  {{equipo.material_diafragma}}) (<strong>M/cuerpo</strong >{{equipo.material_cuerpo}})
                              (<strong>Manifold</strong >{{equipo.tipo_manifold}})  (<strong>F/manifold</strong >{{equipo.fabricante_manifold}}) 
                            </p>
                            <!--INDICADORES-->
                            <p *ngIf="equipo.tipo == 'INSTRUMENTACION' && equipo.subtipo =='INDICADORES' && equipo.subtipoFuncionEquipo == 'PRESION'">
                              (<strong>Modelo:</strong>{{equipo.modelo}})(<strong>Serial:</strong> {{equipo.serial}} )
                              (<strong>Funcionamiento:</strong>{{equipo.funcionamiento}})(<strong>Dial:</strong>{{equipo.tamano_dial}})
                              (<strong>Conexion Ø:</strong> {{equipo.dimension_conexion}}) (<strong>Tipo de conexion:</strong>{{equipo.tipo_conexion}})
                              (<strong>Unidad Ing:</strong > {{equipo.unidades_rango}})(<strong>Rango min:</strong>  {{equipo.rango_min}}) 
                              (<strong>Rango max:</strong >{{equipo.rango_max}})  
                              (<strong>P.Funcionamiento:</strong> {{equipo.p_funcionamiento}})
                              (<strong>Indicador auxiliar:</strong>  {{equipo.indicador_auxiliar}}) (<strong>Requerimiento especial:</strong >{{equipo.req_especial}})  
                            </p>
                            <p *ngIf="equipo.tipo == 'INSTRUMENTACION' && equipo.subtipo =='INDICADORES' && equipo.subtipoFuncionEquipo == 'TEMPERATURA'">
                              (<strong>Modelo:</strong>{{equipo.modelo}})(<strong>Serial:</strong> {{equipo.serial}} )
                              (<strong>Funcionamiento:</strong>{{equipo.funcionamiento}})(<strong>Dial:</strong>{{equipo.tamano_dial}})
                              (<strong>Conexion Ø:</strong> {{equipo.dimension_conexion}}) (<strong>Tipo de conexion:</strong>{{equipo.tipo_conexion}})
                              (<strong>Unidad Ing:</strong > {{equipo.unidades_rango}})(<strong>Rango min:</strong>  {{equipo.rango_min}}) 
                              (<strong>Rango max:</strong >{{equipo.rango_max}})  
                              (<strong>P.Funcionamiento:</strong> {{equipo.p_funcionamiento}})(<strong>Tipo Elemento</strong> {{equipo.tipo_elemento}})
                              (<strong>Indicador auxiliar:</strong>  {{equipo.indicador_auxiliar}}) (<strong>Requerimiento especial:</strong >{{equipo.req_especial}}) 
                            </p>
                            <p *ngIf="equipo.tipo == 'INSTRUMENTACION' && equipo.subtipo =='INDICADORES' && equipo.subtipoFuncionEquipo == 'PRESION DIFERENCIAL' ">
                              (<strong>Modelo:</strong>{{equipo.modelo}})(<strong>Serial:</strong> {{equipo.serial}} )
                              (<strong>Funcionamiento:</strong>{{equipo.funcionamiento}})(<strong>Dial:</strong>{{equipo.tamano_dial}})
                              (<strong>Conexion Ø:</strong> {{equipo.dimension_conexion}}) (<strong>Tipo de conexion:</strong>{{equipo.tipo_conexion}})
                              (<strong>Unidad Ing:</strong > {{equipo.unidades_rango}})(<strong>Rango min:</strong>  {{equipo.rango_min}}) 
                              (<strong>Rango max:</strong >{{equipo.rango_max}})  
                              (<strong>P.Funcionamiento:</strong> {{equipo.p_funcionamiento}})
                              (<strong>Indicador auxiliar:</strong>  {{equipo.indicador_auxiliar}}) (<strong>Requerimiento especial:</strong >{{equipo.req_especial}})  
                            </p>
                            <p *ngIf="equipo.tipo == 'INSTRUMENTACION' && equipo.subtipo =='INDICADORES' && equipo.subtipoFuncionEquipo == 'FLUJO'">
                              (<strong>Modelo:</strong>{{equipo.modelo}})(<strong>Serial:</strong> {{equipo.serial}} )
                              (<strong>Funcionamiento:</strong>{{equipo.funcionamiento}})(<strong>Dial:</strong>{{equipo.tamano_dial}})
                              (<strong>Conexion Ø:</strong> {{equipo.dimension_conexion}}) (<strong>Tipo de conexion:</strong>{{equipo.tipo_conexion}})
                              (<strong>Unidad Ing:</strong > {{equipo.unidades_rango}})(<strong>Rango min:</strong>  {{equipo.rango_min}}) 
                              (<strong>Rango max:</strong >{{equipo.rango_max}})  
                              (<strong>P.Funcionamiento:</strong> {{equipo.p_funcionamiento}})
                              (<strong>Indicador auxiliar:</strong>  {{equipo.indicador_auxiliar}}) (<strong>Requerimiento especial:</strong >{{equipo.req_especial}})  
                            </p>
                            <p *ngIf="equipo.tipo == 'INSTRUMENTACION' && equipo.subtipo =='INDICADORES' && equipo.subtipoFuncionEquipo == 'NIVEL'">
                              (<strong>Modelo:</strong>{{equipo.modelo}})(<strong>Serial:</strong> {{equipo.serial}} )
                              (<strong>Funcionamiento:</strong>{{equipo.funcionamiento}})(<strong>Dial:</strong>{{equipo.tamano_dial}})
                              (<strong>Conexion Ø:</strong> {{equipo.dimension_conexion}}) (<strong>Tipo de conexion:</strong>{{equipo.tipo_conexion}})
                              (<strong>Unidad Ing:</strong > {{equipo.unidades_rango}})(<strong>Rango min:</strong>  {{equipo.rango_min}}) 
                              (<strong>Rango max:</strong >{{equipo.rango_max}})  
                              (<strong>P.Funcionamiento:</strong> {{equipo.p_funcionamiento}})
                              (<strong>Indicador auxiliar:</strong>  {{equipo.indicador_auxiliar}}) (<strong>Requerimiento especial:</strong >{{equipo.req_especial}})  
                            </p>
                            <p *ngIf="equipo.tipo == 'INSTRUMENTACION' && equipo.subtipo =='SWITCHES'" >
                              (<strong>Modelo:</strong>{{equipo.modelo}})(<strong>Serial:</strong> {{equipo.serial}} )
                              (<strong>Al/Electrica:</strong> {{equipo.alimentacion_electrica}} )
                              (<strong>Tipo de conexion:</strong>{{equipo.tipo_conexion}})
                              (<strong>M/cuerpo</strong >{{equipo.material_cuerpo}})
                              (<strong>Requerimiento especial:</strong >{{equipo.req_especial}})  
                            </p>

                          </td>

                          <td style="text-align:center">
                              <i class="fas fa-edit pointer" [routerLink]="['/equiposClienteEdit', equipo._id]"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--PAGINACION -->
                    <div class="antsig" style="text-align:center">
                        <button type="button" *ngIf="page >= 2" [routerLink]="['/busquedas', pre_page]" class="btn btn-outline-info">Anterior</button> &nbsp;
                        <button type="button" *ngIf="pages != page" [routerLink]="['/busquedas', next_page]" class="btn btn-outline-info ">Siguiente</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="avanzada =='activada'" class="row">
              <div class="col-md-12">
                ddddddddddddddddddddddddd
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
