
.contenedor{
    background-image: url(../../../assets/img/logo/bgctransparente.png);
    background-size: cover;
    padding: 2vh;
}

.centrado{
    text-align: center !important;
}
p{
    font-size: 0.8rem;
}
span{
    font-size: 0.8rem;
    font-weight: bold;
}