/*fondo del componente principal*/

.contenedor{
    background-image: url(../../../assets/img/logo/bgctransparente.png);
    background-size: cover;
    padding: 2vh;
}
.espacios{
    padding: 2vh;
}
button{
    margin: 3vh;
}
.espacios div{
    padding-top: 3vh;
}
.pointer{
    cursor: pointer;
}
.centroiconos {
    text-align: center !important;
}
.centroiconos i{
    color:#17a2b8;
}