<div class="contenedor">
    <div class="container">
        <div class="row">
          <div class="col-md-12 espacios">
              <div class="card">
                <div class="card-body centroiconos">
                    <h5 style="text-align:center">Creacion de Cargos</h5>
                    <i class="fas fa-handshake fa-2x fa-lg"></i>
                    <br>
                  <div class="card">
                    <div class="card-body">
                        <form ngNativeValidate [formGroup]="form"  #cargoFormC="ngForm" (ngSubmit)="createCargo(form, cargoFormC)">
                          <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                  <label for="nombreUsuario" class="negrita">Cargo</label>
                                  <input type="text"  formControlName="nombreC" class="form-control" required>
                                </div>
                            </div>
                            <div  class="col-md-3 col-sm-12">
                              <label >Tipo</label>
                              <select class="form-control" name='tipo' formControlName="tipo"  (change)="capturaTipo($event)">
                                 <option disabled class="elija">ELIJA</option>
                                 <option>OPERATIVO</option>
                                 <option>SUPERVISOR</option>
                              </select>
                            </div>
                            <div class="col-md-3 col-sm-12" *ngIf = "tipo =='OPERATIVO'">
                              <div class="form-group">
                                <label for="rendimiento" class="negrita">Rendimiento</label>
                                <input type="number" step="0.1"  formControlName="rendimiento" class="form-control" required>
                              </div>
                            </div> 
                            <div class="col-md-3 col-sm-12">
                              <div class="form-group">
                                <label for="salario_dia" class="negrita">Salario/Dia</label>
                                <input type="number" min = 0  formControlName="salario_dia"  class="form-control"  required>
                              </div>
                            </div>  
                            <div class="col-md-12 col-sm-12">
                              <div style="text-align:center">
                                <input type="submit" class="btn btn-outline-success" value="Agregar">
                              </div>
                            </div>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-12 col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 style="text-align:center">Buscar Cargos</h5>
                  <br>
                  <div class="card">
                    <div class="card-body">
                      <label for="">Buscar</label>
                      <input #input (keyup)="buscarCargo(input.value)" type="text" class="form-control" name="" id="">
                      <br>
                      <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered table-responsive">
                                <thead class="table-info">
                                  <tr>
                                    <th>#</th>
                                    <th>Nombre Cargo</th>
                                    <th>Tipo</th>
                                    <th>Rendimiento</th>
                                    <th>Salario/Dia</th>
                                    <th>Estado</th>
                                    <th>Editar</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let cargo of cargos; let i = index">
                                    <td>{{i}}</td>
                                    <td>{{cargo.nombre}}</td>
                                    <td>{{cargo.tipo}}</td>
                                    <td>{{cargo.rendimiento}}</td>
                                    <td>{{cargo.salario_dia | currency:'USD':true:'1.0-3'}}</td>
                                    <td>{{cargo.estado}}</td>
                                    <td style="text-align:center">
                                      <i class="fas fa-edit pointer" [routerLink]="['/cargosedit', cargo._id]"></i>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            <!--PAGINACION -->
                              <div class="antsig" style="text-align:center">
                                  <button type="button" *ngIf="page >= 2" [routerLink]="['/cargos', pre_page]" class="btn btn-outline-info">Anterior</button>
                                  <button type="button" *ngIf="pages != page" [routerLink]="['/cargos', next_page]" class="btn btn-outline-info ">Siguiente</button>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
</div>
