.contenedor{
    background-image: url(../../../assets/img/logo/bgctransparente.png);
    background-size: cover;
    padding: 2vh;
}
.centrado{
    text-align: center !important;
}
.serial-tag{
    
    font-weight: bold;
    font-family: 'Gugi', cursive;
}