/*fondo del componente principal*/
.fondo{
    background-image: url(../../../../assets/img/logo/bgc.jpg);
    background-position: left;
    border: 1px solid black !important;
    background-size: cover;
    height: 180% !important;
    opacity: 0.2;
    z-index: 1;
    position: absolute;
}
.contenedor{
    z-index: 2;
    position: relative;
    padding: 2vh;
}
.centrado{
    text-align: center;
}
.redondo{
    border-radius: 100px !important;  
}
.marginbajo{
    margin-bottom: 3vh;
}
.margintop{
    margin-top: 2vh;
}
.dona{
    max-height: 500px !important;
    max-width:  300px !important;
}
.pointer{
    cursor: pointer;
}