<div class="col-sm-12 fondo">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 ">
      <div class="card">
        <h5 style="text-align:center; padding: 1vh;">Editar Cargos</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form ngNativeValidate [formGroup]="form"  #cargoFormE="ngForm" (ngSubmit)="editCargo(form, cargoFormE)">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                      <label for="nombreCargo" class="negrita">Cargo</label>
                      <input type="text"  formControlName="nombre"  [(ngModel)]="nombreCargo" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <label for="vhora" class="negrita">Tipo</label>
                    <input type="number"   formControlName="tipo" [(ngModel)]="tipo"  class="form-control"  required>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <label for="rendimiento" class="negrita">Rendimiento</label>
                    <input type="number"   formControlName="rendimiento" [(ngModel)]="rendimiento"  class="form-control"  required>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <label for="salario_dia" class="negrita">Rendimiento</label>
                    <input type="number"   formControlName="salario_dia" [(ngModel)]="salario_dia"  class="form-control"  required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-group padselect">
                    <label for="selectCargo">Estado</label>
                    <select class="form-control" name="estadoC" formControlName="estadoC" [(ngModel)]="estado">
                      <option [value]="estado" selected>{{estado}}</option>
                      <option value="ACTIVO">ACTIVO</option>
                      <option value="INACTIVO">INACTIVO</option>
                    </select>
                  </div>
                </div>  
                <div style="text-align:center">
                  <input type="submit" class="btn btn-outline-success" value="Editar">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>