<div class="col-sm-12 fondo">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 ">
      <div class="card">
        <h5 style="text-align:center; padding: 1vh;">Editar Cargos</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form ngNativeValidate [formGroup]="form"  #cargoFormE="ngForm" (ngSubmit)="editCargo(form, cargoFormE)">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                      <label for="nombreCargo" class="negrita">Cargo</label>
                      <input type="text"  formControlName="nombre"  [(ngModel)]="nombre" class="form-control" required>
                    </div>
                </div>
                <div  class="col-md-12 col-sm-12">
                  <label >Tipo</label>
                  <select class="form-control" name='tipo' formControlName="tipo" [(ngModel)]="tipo"  (change)="capturaTipo($event)" required>
                     <option disabled class="elija">ELIJA</option>
                     <option>OPERATIVO</option>
                     <option>SUPERVISOR</option>
                  </select>
                </div>
                <div class="col-md-12 col-sm-12" *ngIf = "tipo =='OPERATIVO'">
                  <div class="form-group">
                    <label for="rendimiento" class="negrita">Rendimiento</label>
                    <input type="number" min=0 step="0.1"  formControlName="rendimiento" [(ngModel)]="rendimiento"  class="form-control"  required>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <label for="salario_dia" class="negrita">Salario/Dia</label>
                    <input type="number" min = 0  formControlName="salario_dia" [(ngModel)]="salario_dia"  class="form-control"  required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-group padselect">
                    <label for="selectCargo">Estado</label>
                    <select class="form-control" name="estado" formControlName="estado" [(ngModel)]="estado" required>
                      <option [value]="estado" selected>{{estado}}</option>
                      <option value="ACTIVO">ACTIVO</option>
                      <option value="INACTIVO">INACTIVO</option>
                    </select>
                  </div>
                </div>  
                <div style="text-align:center">
                  <input type="submit" class="btn btn-outline-success" value="Editar">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>