/*fondo del componente principal*/
.fondo{
    background-image: url(../../../../assets/img/logo/bgc.jpg);
    background-position: left;
    border: 1px solid black !important;
    background-size: cover;
    height: 90% !important;
    opacity: 0.2;
    z-index: 1;
    position: absolute;
}
.container{
    z-index: 2;
    position: relative;
    padding: 3vh;
}
.padselect{
    padding-left: 14px;
    padding-right: 14px;
}
.full-width {
    width: 100%;
}
.estado{
    color: red;
}